<html title="{{ title }}">
<head>
    <!--
        CAREFUL: In difference to standard CSS, this
        is applied AFTER the inline styling, to allow
        for overriding the styles of preconfigured components
    -->
    <style>
        .page {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
            width: 10%;
            height: 10%;
            border: 1px solid black;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

{% for page in track_chunks %}
<div class="page">
    {% for row in page %}
    <div class="width: 100%">
        {% for track in row %}
        <div class="card">
            <p>{{ track.title }}</p>
            <p>{{ track.artist }}</p>
            <p>{{ track.year }}</p>
            <p>{{ track.qr_code|safe }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}
<body>
</html>